#StockImg{
    padding-left: 0rem;
    padding-right:0rem; 
    overflow:hidden;
}

.text-block {
    position: absolute;
    top: 60%;
    left: 50%;
    background: rgba(255,255,255,0.58);
    color: black;
    padding-left: 2vh;
    padding-right: 2vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    transform: translate(-50%, -50%);
    border-radius: 15px;
}

.center{
    text-align: center;
}

#line{
    margin-top: -2.5%;
}

#text{
    margin-top: -1.5%;
}

#article{
    background-color: rgba(219, 219, 219, 0.5);
    text-decoration: none;
}

#benefits{
    padding-left: 0rem;
    padding-right:0rem; 
    overflow:hidden;
}


