.responsive {
    width: 100%;
    height: auto;
    padding-right: 0px;
    margin-top: -15%;
    margin-bottom: -35%;
    margin-left: 11%;
  }

  #responsive{
    width: 10%;
    height: auto;
  }

  #customnav{
    background-color: cornflowerblue;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
  }

  #toprow{
    background: white; 
    margin-left:0%;
  }

  .justify {
    text-align: justify;
}